extend layout

block content
	h1(id='page-title')= title
	#list
		form(action='/artist/create', method='POST', accept-charset='utf-8')
			.item-new
				- for(var key in definitions.userData){
					-if(key == 'password'){
						input(class='input', type='password', name='#{key}', placeholder='#{definitions.userData[key]}')
						br	
					-}else{
						input(class='input', type='text', name='#{key}', placeholder='#{definitions.userData[key]}')
						br
					-}
				
				-} 
				h2 Artist Info
					
				-for(var key in definitions.artistData){
					input(class='input', type='text', name='#{key}', placeholder='#{definitions.artistData[key]}')
					br
				-}
				input(type='submit', value='submit')

