<h1 id="page-title"><%= title %></h1>
<div id="list">
  <form action="/post/" method="post" enctype="multipart/form-data">
    <div class="item-new">
      <input class="input" type="text" name="content" />
      <input name="file" type="file" />
      <input type="submit" value="upload" />
    </div>
  </form>
<% posts.forEach( function ( post ){ %>
  <div class="item">
  	<a class="usertype" ><%= post.user.userType %> </a><br>
  	<a class="username"><%= post.user.username %></a><br>
    
    <% if(post.Images){ %>

    <img src="/<%=post.Images.path%>"/>
      
    <% }%>
    
    <a class="update-link" id="<%= post.id%>" href="/edit/<%= post._id %>" title="Update this post item"><%= post.content %></a><br>
    <a class="del-btn" href="/destroy/<%= post._id %>" title="Delete this post item">Delete</a>
  </div>
<% }); %>
</div>