extend layout

block content
  h1#page-title= title
  form(action='/search/results/', method='POST', accept-charset='utf-8')
    input(class='input', type='text', name='search', placeholder='Search Something...')


  - users.forEach(function(user){

    .item
      
      -for(var key in user){ if(keys !== 'password'){
        a(id='#{key}') #{user[key]}
        br 
      - }}
      a(class='del-btn', id='#{user._id}', href='/user/destroy/#{user._id}' ) Delete
      br
  
  -  });

  -posts.forEach(function(post){
      .item
        a(class='update-link', id='#{post._id}') #{post.content}
        br
        a(class='del-btn', id='#{post._id}', href='/post/destroy/#{post._id}') Delete

  -  });



